/* -------------------- GENERAL -------------------- */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

p {
  margin: 0;
}

/* -------------------- NAVIGATION BAR -------------------- */

.navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 100px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  align-items: center;
  font-size: 18px;
}

.cta {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 35px;
  border: 1px solid #ea462b;
}

/* -------------------- BANNER -------------------- */

.banner-section {
  box-sizing: border-box;
  padding: 150px;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url("./pictures/banner.jpg");
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.banner-title {
  font-weight: bold;
  font-size: 62px;
}

.banner-subtitle {
  color: #777777;
}

.banner-button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 35px;
  background-color: #ea462b;
  color: #ffffff;
  width: 170px;
  text-align: center;
}

/* -------------------- DISH OF THE DAY -------------------- */

.dish-of-day-section {
  box-sizing: border-box;
  padding: 100px 130px;
  background-repeat: no-repeat;
  background-image: url("./pictures/dish-of-day-background.jpg");
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.dish-of-day-caption {
  color: #aaaaaa;
  font-size: 22px;
}

.dish-of-day-title {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

.dish-of-day-price {
  display: block;
  color: #ea462b;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 35px;
  line-height: 60px;
}

.dish-of-day-cta {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 15px;
  background-color: #ea462b;
  color: #ffffff;
  width: 170px;
  text-align: center;
}

/* -------------------- POPULAR DISHES -------------------- */

.popular-dishes-section {
  box-sizing: border-box;
  padding: 100px 250px;
  background-repeat: no-repeat;
  background-image: url("./pictures/popular-dishes-background.jpg");
  display: flex;
  flex-direction: column;
}

.popular-dishes-header {
  margin-bottom: 50px;
}

.popular-dishes-title {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: #23292c;
}

.popular-dishes-caption {
  text-align: center;
  font-size: 18px;
  color: #777777;
}

.popular-dishes-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  justify-items: center;
}

/* -------------------- POPULAR DISHES CARD -------------------- */

.popular-dishes-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: #fafafa;
  padding: 15px 30px 40px;
  row-gap: 20px;
}

.popular-dishes-card-image {
  height: 338px;
  width: 290px;
  border-radius: 10px;
}

.popular-dishes-card-title {
  font-size: 22px;
  color: #23292c;
  font-weight: bold;
}

.popular-dishes-card-description {
  font-size: 16px;
  text-align: center;
  color: #777777;
}

.popular-dishes-card-price {
  font-size: 24px;
  text-align: center;
  color: #ea462b;
  font-weight: bold;
}

.popular-dishes-card-button {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 35px;
  border: 1px solid #ea462b;
}
.reservation{
  background-image: url("./pictures/book-a-table-img.jpg");
  text-align: center;
  background-size: cover;
  box-sizing: border-box;
  padding: 100px 130px;
  background-repeat: no-repeat;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  background-position: center;
  width: 100%;
}
.book-table{
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.reservation-button{
  font-size: 18px;
  font-weight: bold;
  padding: 10px 35px;
  background-color: #ea462b;
  color: #ffffff;
  width: 170px;
  text-align: center;
  background-position: center;
  margin: auto;
  
  

}
